body {
    font-family: Roboto,
        sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}


a {
    text-decoration: none;
}


ul,
ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}


/* ------------------- HEADER  ------------------ */
.page-header {
    border-bottom: 1px solid #e7e9fc;
  
}

 .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.studio,
 .portfolio,
 .contacts {
     padding: 120px 0;
     
 } 


.header-nav-bar {
    display: flex;
    align-items: center;
}


/* ----- LOGO STYLE ---- */
.logo-web {
   
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
    display: block;
    
}

.logo-studio {
    color: #2E2F42;
    
}


/*----- NAVIGATION ----- */
.navigation {
    margin-top: 24px;
}

.navigation-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
}


/* .navigation-list-item {
    /* margin-left: 73px; */

/* } */ 

.navigation-link-item-name {
    color: #2E2F42;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    padding: 24px 0;
    display: block;
}

.navigation-link-item-name:hover,
.navigation-link-item-name:focus {
    color: #404BBF;
}


/* ----- ADDRESS ------ */
.address {
    font-style: normal;
}

.address-list {
    display: flex;
    flex-direction:row;
    align-items: center;
    gap: 40px;
    
}

.address-list-item-name {
    color: #434455;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    /* margin-top: 24px; */
    display: block;

}

.address-list-item-name:hover,
.address-list-item-name:focus {
    color: #404BBF;
}


/* ----------- HERO SECTION ---------- */
.hero-section {
    background: #2E2F42;
    padding-top: 188px;
    padding-bottom: 188px;
     flex-shrink: 0; 
}

.hero-title {
    width: 496px;
    color: #FFFFFF;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin: 0 auto;
}

.hero-button {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    padding: 16px 32px;
    margin: 0 auto;
    margin-top: 48px;
    /* align-items: center; */
    /* gap: 10px; */
    border-radius: 4px;
    background-color: #4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff
}


.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}

.hero-button-name {
    color: #FFFFFF;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    width: 169px;
    white-space: nowrap;
    text-align: center;
}



/* ------------- BENEFITS SECTION ---------- */
.benefits-section {
    background: #FFFFFF;
    padding: 120px 0;

}

.benefits-list {
    display: flex;
    gap: 24px;
    width: calc(100%-(24*3)/4);
}

.benefits-list-item-name {
    color: #2E2F42;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    display: flex;
    width: 264px;
}

.benefits-list-item-text {
    color: #434455;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: flex;
    width: 264px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}



/* ------------- TEAM SECTION ------------ */
.team-section {
    background-color: #F4F4FD;
    height: 732px;
    padding: 120px 0;
    flex-shrink: 0;
}


.team-section-title {
    color: #2E2F42;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
    
}

.team-list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    list-style: none;
}

.team-list-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    background: var(--WHITE, #FFF);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    margin-right: 24px;
}

.team-list-item:last-child {
    margin-right: 0;
}

.team-name-position {
    padding: 32px 0;
}

.team-list-item-name {
    color: #2E2F42;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;

}

.team-list-item-text {
    color: #434455;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;

}



/* ----------- PORTFOLIO SECTION ---------- */
.portfolio-section {
    background-color: #FFFFFF;
    padding: 120px 0 120px 0;
}

.portfolio-section-title {
    color: #2E2F42;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;

}

.portflio-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
    margin-left: auto;
    margin-right: auto;

}

.portflio-list-item {
    background-color: #FFFFFF;
    width: calc((100% - 48px) /3);
}

.porflio-products {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portflio-list-item-name {
    color: #2E2F42;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.portflio-list-item-text {
    color: #434455;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}




/* -------------- FOOTER SECTION ------------ */
.footer-section {
    background-color: #2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;
    flex-shrink: 0;

}


.footer-logo-studio {
    color: #F4F4FD;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
} 


 .footer-logo-web {
    color: #4D5AE5;
        font-family: Raleway, sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
} 


.footer-text {
    color: #F4F4FD;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}